.login{
    color: white;
    font-size: 1.25rem;
    margin-top: 30px;
 }
 #home1{
    background-image: url("/assets/images (6).jpg");
    height: 700px;
}
#home{
    text-align: center;
}
.homepageButton1{
    margin: 30px;
    font-size: 3rem;
    background-color: green;
    color: white;
}
#title{
    font-size: 4rem;
    color: white;
}
.homepageButton{
    margin: 30px;
    font-size: 3rem;
    background-color: gray;
    border-color: green;
    color: white;
}
#submitButton{
    text-align: center;
}